{% extends "base.html" %}
{% block title %}News{% endblock %}

{% block content %}

    <div class="container-fluid container-article-jumbo jumbo d-none">
        <a id="header_href" href="#">
        <div class="jumbotron jumbo-3 jumbotron-fluid pt-5 mb-3" style="height:200px;background-image: url(https://godotwebview.com/images/intro.png);">
        </div>
        </a>
    </div>

    <div class="container-fluid container-article pb-3 mt-4 pt-3">
        <h2 id="header_title" class="display-6 pt-2 mb-1 stylized">News</h2>
        
        <div class="row mt-3">
            <div class="col-md-12 article_content">
                  {% for article in articles_page.object_list %}
                  <div class="article_h mb-1">
                      <span style="font-color: white;margin-right:16px;">{{article.date.strftime("%Y-%m-%d")}}</span>
                      <a style="text-decoration: none;" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                  </div>
                  {% endfor %}
              </div>
          </div>
    </div>
{% endblock %}