<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/dino.css">
        <script src="{{ SITEURL }}/theme/js/jquery-1.11.2.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/snowfall.jquery.js"></script>
        <script src="{{ SITEURL }}/theme/js/textEffect.jquery.js"></script>
        <script src="{{ SITEURL }}/theme/js/dino.js"></script>
        <link href='//fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <div class="content">
            <div class="console" data-delay="300" data-speed="75">Booting DinoOS...</div>
            <div class="console" data-delay="2200">- init doskop</div>
            <div class="console" data-delay="1500" data-speed="0" style="color: red">* Tyrannosaurus Hex online!</div>
            <div class="console" data-delay="2200">- init dsc</div>
            <div class="console" data-delay="1500" data-speed="0" style="color: red">* Dsclodocus online!</div>
            <div class="console" data-delay="2200">- init Zen</div>
            <div class="console" data-delay="1500" data-speed="0" style="color: red">* Steganosaurus online!</div>
            <pre class="console logo" data-delay="3000" data-speed="0">        ________________
       / ____/ ____/ __ \
      / /   / __/ / / / /
     / /___/ /___/ /_/ /
     \____/_____/_____/
     certified edible dinosaurs
</pre>
            <div class="console" data-delay="2000">CED:~$ cat ctf_results.txt</div>
            <pre class="console" data-delay="3000" data-speed="0">+---------------------------+---------+
| CTF                       | RANKING |
+---------------------------+---------+
| HiTB 2015 Teaser CTF      | 3rd     |
| Vancouver BSides CTF 2015 | 10th    |
+---------------------------+---------+
</pre>
            <div class="console console-caret-line" data-delay="1500" data-speed="0">
                CED:~$
                <span class="caret">&nbsp;</span>
            </div>
        </div>

        <div class="img-dino"></div>
        <div class="footer">
            <div class="img-front"></div>
            <div class="img-middle"></div>
            <audio controls autoplay hidden>
              <source src="{{ SITEURL }}/theme/audio/tune.ogg" type="audio/ogg">
              <source src="{{ SITEURL }}/theme/audio/tune.mp3" type="audio/mpeg">
            </audio>
        </div>
    </body>
</html>
