{% extends "base.html" %}
{% block content %}

{% block content_title %}
{% endblock %}
<style>
    .article_content a{
        color: white;
        font-family: bebas-reg;
        color: white;
        font-size: 1.75rem;
        font-weight: bold;
        text-decoration: none;
    }
</style>

<div class="container-fluid container-article pb-5 mt-3">
    <h2 id="header_title" class="display-6 pt-2 mb-1">Blogposts</h2>

    <div class="row mt-3">
      <div class="col-md-12 article_content">
            {% for article in articles_page.object_list %}
            <div class="article_h mb-2">
                <span style="font-color: white;margin-right:16px;">{{article.date.strftime("%Y-%m-%d")}}</span>
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
